<h1>Angular Learning</h1>
<app-test (c_event)="message=$event" [parentData]="data">
</app-test>

<!-- <app-employee-list></app-employee-list> -->
<app-employee-detail></app-employee-detail>
<p>____________________________________________________________________________________________</p>

<h2>Routing and navigation</h2>
<nav>
    <a routerLink="/employeeList" routerLinkActive="active">Employee name list</a> <br><br>
    <a routerLink="/employeeDetails" routerLinkActive="active">Employee details</a>
</nav>
<p>____________________________________________________________________________________________</p>

<h2>Route parameter</h2>
<a routerLink="/jobDetails-relative" routerLinkActive="active">Job list</a>
<router-outlet></router-outlet>

<p>**********************************************</p>
<!-- <h3>{{message.id}} -- {{message.highlight}}</h3> -->
<h3>{{message | json}}</h3>