<h1>Angular Learning</h1>
<app-test (c_event)="message=$event" [parentData]="data">
</app-test>

<!-- <app-employee-list></app-employee-list> -->
<app-employee-detail>

    <strong>content display using ng-content</strong>

    <h2>Services - Dependency Injection DI</h2>
    <h2>Dependency Injection - Fetching data using HTTP</h2>
    <h3>Employee details - Fetching from api</h3>

    <!-- <ul *ngFor="let val of employees">
    <li>{{val.id}} - {{val.name}} - {{val.age}}</li>
</ul> -->

    <div class="head">
        <h3 class="head1">ID</h3>
        <h3 class="head2">NAME</h3>
        <h3 class="head3">EMAIL</h3>
    </div>

</app-employee-detail>
<p>____________________________________________________________________________________________</p>

<h2>Routing and navigation</h2>
<nav>
    <a routerLink="/employeeList" routerLinkActive="active">Employee name list</a> <br><br>
    <a routerLink="/employeeDetails" routerLinkActive="active">Employee details</a>
</nav>
<p>____________________________________________________________________________________________</p>

<h2>Route parameter</h2>
<a routerLink="/jobDetails-relative" routerLinkActive="active">Job list</a>
<router-outlet></router-outlet>

<p>**********************************************</p>
<!-- <h3>{{message.id}} -- {{message.highlight}}</h3> -->
<h3>{{message | json}}</h3>