.test-txt {
    color: black;
    font-weight: bold;
    text-align: center;
}

.test-txt {
    animation: change 1s infinite;
}

@keyframes change {
    from {
        color: red
    }
    to {
        color: black
    }
}

.class-bind:hover {
    color: rebeccapurple;
}

.text-danger {
    color: red;
}

h2 {
    color: rgb(84, 181, 237);
}