<div class="test-txt">
    {{text}}
</div>
<!-- interpolation -->
<!-- <input id="{{myId}}" type=text value="text1"> -->

<!-- property binding syntax-->
<!-- <input [disabled]="isDisabled" [id]="myId" type=text value="text2"> -->
<input bind-disabled="isDisabled" [id]="myId" type=text value="text2">

<!-- class binding -->
<!-- <h3 [class]="cbind">Class binding</h3> -->
<!--when hasError is true the class works -->
<!-- <h3 [class.text-danger]="hasError">Class binding syntax 2</h3> -->
<h3 [ngClass]="manageClass">Class binding using ngClass directive</h3>

<!-- Style binding -->
<!-- <h3 [style.color]="'red'">Style binding</h3> -->
<!-- <h3 [style.color]="hasError? 'red' : 'green' ">Style binding</h3> -->
<!-- <h3 [style.color]="highlight">Style binding</h3> -->
<h3 [ngStyle]="manageStyle"> Style binding using ng directive</h3>
<br>

<!-- Event binding -->
<h2>Event binding</h2>
<!-- <button (click)="Onclick($event)">Test</button> <br> {{event_bind}} -->
<button (click)="event_bind = 'test works !!!'">test</button> {{event_bind}}

<!-- Template reference variable -->
<h2>Template reference variable</h2>
<input #input type="text">
<button (click)="display(input.value)">Display</button><br>

<!-- Two way binding -->
<h2>Two way binding</h2>
<input [(ngModel)]="name" type="text"> {{name}}